<div class="card card-list">
  <div class="card-body">
    <h4 class="card-title">
      <%= link_to list.name, list %>
    </h4>
    <h6 class="card-subtitle mb-3 text-muted">
      <%= list.description&.truncate(100) %>
    </h6>
    <p class="card-text">
      <% list.posters_cache.each do |poster_url| %>
        <%= image_tag small_poster_url(poster_url) %>
      <% end %>
    </p>
    <%= render 'progress', list: list %>
  </div>
</div>
