<section class="mt-4">
  <div class="row flex-sm-row-reverse">
    <div class="col-md-4">
      <div class="card bg-transparent mb-3">
        <div class="card-body">
          <h4 class="card-title">Your stats</h4>
          <p class="card-text">
            You have watched:
          </p>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              81 / 126
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h1>IMDb Top 250</h1>
      <p class="text-muted mb-4">Top 250 as rated by IMDb Users</p>
      <ul id="movie-list" class="list-unstyled">
        <!-- Item -->
        <li class="movie-list-item mb-4">
          <div class="checkbox mr-2">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <img src="http://image.tmdb.org/t/p/w185/kFWLxUwcSpiLzszZbxUIZT9g6WR.jpg" alt="" class="mr-3">
          <div class="content">
            <h3>
              <span class="text-muted">1. </span>
              Guardians of the Galaxy <small class="text-muted">2017</small>
            </h3>
            <p class="mb-2">
              Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime target of a manhunt after discovering an orb wanted by Ronan the Accuser.
            </p>
            <ul class="extra-info list-inline">
              <li class="list-inline-item text-secondary mr-3"><span class="oi oi-star mr-1"></span> 8.1</li>
              <li class="list-inline-item text-secondary mr-3"><span class="oi oi-heart mr-1"></span> 91 %</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </li>
        <!-- Item -->
        <li class="movie-list-item checked mb-4">
          <div class="checkbox mr-2">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <span class="custom-control-indicator"></span>
            </label>
          </div>
          <img src="http://image.tmdb.org/t/p/w185/cUqEgoP6kj8ykfNjJx3Tl5zHCcN.jpg" alt="" class="mr-3">
          <div class="content">
            <h3>
              <span class="text-muted">2. </span>
              Dunkirk <small class="text-muted">2017</small>
            </h3>
            <p class="mb-2">
              Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime target of a manhunt after discovering an orb wanted by Ronan the Accuser.
            </p>
            <ul class="extra-info list-inline">
              <li class="list-inline-item text-secondary mr-3"><span class="oi oi-star mr-1"></span> 8.1</li>
              <li class="list-inline-item text-secondary mr-3"><span class="oi oi-heart mr-1"></span> 91 %</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>
  </div>
</section>
